#counter {
    font-size: 30px;
    padding-top: 20px;
}

#ameji {
    margin: 30px;
}

#ameji button {
    padding: 0;
    border-color: mediumpurple;
    box-shadow: 2px 3px 0 0 mediumpurple;
    background: transparent;
}

#ameji button img {
    width: 100px;
}

button {
    border-radius: 5px;
    margin-top: 20px;
}

#mines button {
    height: 50px;
    width: 150px;
}

.err {
    height: 20px;
    color: red;
}
