header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background: rgb(225, 225, 255);
}

header a{
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    top: 50%;
}